@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion-principal {
    display: none;
    
    @include m.tablet {
        display: flex;
    }

    &__link {
        @include m.tablet {
            padding: .5rem;    
            border: 1px solid v.$light;
            font-size: v.$md;
            font-weight: 500;
            text-decoration: none;
            color: v.$text;
            border-radius: .5rem;
        }
    }
    &__link:hover {
        @include m.tablet {
            color: v.$primary;
            border: 1px solid v.$secondary;
        }
    }
}

.menu__btn {
    @include m.tablet {
        display: none;
    }
}