@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal {
    position: relative;
    display: grid;
    place-items: center;
    width: 95%;
    padding-block: 2rem;
    margin-inline: auto;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
        padding: 1rem;

        @include m.phone {
            grid-template-columns: repeat(2, 1fr);
        }
        @include m.phoneHD {
            grid-template-columns: repeat(3, 1fr);
        }
        @include m.desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}