@use 'base/variables' as v;
@use 'base/mixins' as m;

.product {
    display: grid;
    gap: 1rem;
    max-width: 20rem;

    &__image {
        overflow: hidden;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.5rem;                  
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-inline: .5rem;
    }
    &__data {
        min-width: 6rem;
    }
    &__price {
        font-size: v.$md;
        font-weight: 700;
    }
    &__name {
        font-size: v.$sm;
        font-size: 500;
        color: v.$text;
    }
    &__form-amount {
        display: flex;
        justify-content: center;
        width: 30%;
    }
    &__amount {
        width: 100%;
        padding: .5rem .5rem .5rem .8rem;
        font-size: 1.8rem;
        color: v.$text;
        border: 1px solid v.$secondary;
        outline: none;
    }
    &__add-cart__img {
        transition: transform .5s ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }

}
