// Fuentes
$font_principal: 'Quicksand', sans-serif;
$font_secondary: 'Roboto', sans-serif;

/* Font-size */
$sm: 1.4rem;
$md: 1.6rem;
$lg: 1.8rem;

// Tamaño de Media Queries
$phone: 450px;
$phoneHD: 650px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #5eb46a;
$secondary: #ACD9B2; 

$text: #858585;

$dark: #333;
$light: #FFF;

$positive: #11a93c;
$negative: rgb(183, 10, 10);

$back-grey: #f5f5f5;
$dark-back-grey: #f8f8f8;

$gap: 5rem;

