// Fuentes
$fuente_principal: 'Lato', sans-serif;
$fuente_cursiva: 'Italianno', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$telefonoM: 550px;
$telefonoL: 630px;
$telefonoXL: 700px;
$tablet: 768px;
$desktop: 1024px;
$desktopM: 1200px;
$desktopL: 1600px;
$desktopXL: 1900px;
$desktopXXL: 2200px;

// Colores
$primario: #8ed3cc;
$secundario: #e082a8; 
$negro: #000;
$blanco: #FFFFFF;
$gris: #979797;
$grisClaro: #f8f8f8;

$gap: 5rem;
